a {
    text-decoration: none !important;
}

.section_wrapper {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header-hero, .header-hero-2, .header-hero-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    font-size: 19px;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/home-bg-img-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.head_separator {
    width: 0;
    height: 2px;
    background-color: #757575;
    transition: width 2s ease;
    margin: 35px auto;
}

.header-hero {
    background-image: url(../img/home-bg-img-1.jpg);
}

.header-hero-2 {
    background-image: url(../img/home-bg-img-2.jpg);
}

.header-hero-3 {
    background-image: url(../img/home-bg-img-3.jpg);
}

.white-section {
    background-color: #252525
}

.header-wrapper {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 100px;
}

.header-title {
    font-family: Pacifico;
    font-style: normal;
    font-size: 128px;
    align-self: center;
    margin-top: 200px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    transition: 0.2s;

    background: linear-gradient(to right, #FFF 30%, #e9c46a 60%, #FFF 70%);
    text-shadow: 0 -1px 5px rgba(255, 255, 255, 0.6);
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 5s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.header-description {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 24px;
    max-width: 800px;
    align-self: center;
    text-align: center;
    line-height: 36px;
    border-color: #f4a261;
    border-width: 1px;
}

.description_text {
    width: 80%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    line-height: 36px;
}

.header-start {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}


/*.blob-btn:before {*/
/*     content: "";*/
/*     z-index: 1;*/
/*     position: absolute;*/
/*     left: 0;*/
/*     top: 0;*/
/*     width: 100%;*/
/*     height: 100%;*/
/*     border: 2px solid #0505a9;*/
/*     border-radius: 30px;*/
/* }*/

/*.blob-btn :after {*/
/*     content: "";*/
/*     z-index: -2;*/
/*     position: absolute;*/
/*     left: calc(2px * 1.5);*/
/*     top: calc(2px * 1.5);*/
/*     width: 100%;*/
/*     height: 100%;*/

/*     transition: all 0.3s 0.2s;*/
/*     border-radius: 30px;*/
/* }*/

/*.blob-btn:hover {*/
/*     color: #ffffff;*/
/*     border-radius: 30px;*/

/*.blob-btn:after {*/
/*     transition: all 0.3s;*/
/*     left: 0;*/
/*     top: 0;*/
/*     border-radius: 30px;*/
/* }*/
/*}*/

/*.blob-btn {*/
/*    z-index: 1;*/
/*    position: relative;*/
/*    padding: 20px 46px;*/
/*    margin-bottom: 30px;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    color: #0505a9;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    background-color: transparent;*/
/*    outline: none;*/
/*    border: none;*/
/*    transition: color 0.5s;*/
/*    cursor: pointer;*/
/*    border-radius: 30px;*/

/*&__inner {*/
/*     z-index: -1;*/
/*     overflow: hidden;*/
/*     position: absolute;*/
/*     left: 0;*/
/*     top: 0;*/
/*     width: 100%;*/
/*     height: 100%;*/
/*     border-radius: 30px;*/
/*     background: #ffffff;*/
/* }*/

/*  &__blobs {*/
/*       position: relative;*/
/*       display: block;*/
/*       height: 100%;*/
/*       filter: url("#goo");*/
/*   }*/

/*&__blob {*/
/*     position: absolute;*/
/*     top: $borderW;*/
/*     width: 100% / $numOfBlobs;*/
/*     height: 100%;*/
/*     background: $cyan;*/
/*     border-radius: 100%;*/
/*     transform: translate3d(0, 150%, 0) scale(1.7);*/
/*     transition: transform 0.45s;*/

/*@supports (filter: url("#goo")) {*/
/*    transform: translate3d(0, 150%, 0) scale(1.4);*/
/*}*/

/*@for $i from 1 through $numOfBlobs {*/
/*&:nth-child(#{$i}) {*/
/*    left: ($i - 1) * (120% / $numOfBlobs);*/
/*    transition-delay: ($i - 1) * 0.08s;*/
/*}*/
/*}*/

/*.blob-btn:hover & {*/
/*    transform: translateZ(0) scale(1.7);*/

/*@supports (filter: url("#goo")) {*/
/*    transform: translateZ(0) scale(1.4);*/
/*}*/
/*}*/
/*}*/
/*}*/






.about-us-content {
    width: 80%;
    margin-bottom: 50px;
}

.about-us-paragraph {
    color: #c4c4c4;
    font-family: Rubik;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    line-height: 38px;
}

.header-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.home-navbar {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.7s;
}

.home-navbar-interactive {
    width: 100%;
    display: flex;
    max-width: 1280px;
    align-items: center;
    padding: 32px 24px;
    justify-content: space-between;
}

.nav-link {
    color: #ffffff !important;
    font-size: 20px !important;
    font-style: normal;
    transition: 0.3s;
    font-weight: 500 !important;
    cursor: pointer;
}

.nav-link:hover {
    color: #f4a261 !important;
}

.page-button {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 56px;
    color: #fff;
    background-color: #f4a261;
    cursor: pointer;
    transition: 0.3s;
}

.page-button:hover {
    opacity: 0.7;
    color: #fff;
}

.home-branding {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.home-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: 0.3s;
}

.home-logo:hover {
    transform: rotate(360deg);
}

.home-company {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

.home-items {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.home-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.products-wrapper {
    display: flex;
    padding: 30px;
    margin-top: 30px;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 250px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    cursor: pointer;
}

.product_description {
    color: #fff;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif Rubik;
}

.product-image {
    width: 200px;
    height: 200px;
    transition: 0.3s;
    cursor: pointer;
}

.product:hover .product-image {
    transform: rotate(360deg);
}

.benefit-wrapper {
    flex: 0 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-img {
    width: 80px;
    height: 80px;
}

.benefit-title {
    font-family: Rubik;
    font-size: 40px;
    text-align: center;
    color: #c4c4c4;
}

.benefit-description {
    font-family: Rubik;
    color: #818181;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
}

#AboutCompany {
    width: 100%;
}

.section_footer {
    background-color: #252525;
    padding: 50px 0 0 0 !important;
    color: #fff;
}

.footer_content {
    width: 60%;
}

.footer_title {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    margin: 0;
    position: relative;
    padding-bottom: 20px;
}

.footer_title::after {
    position: absolute;
    display: block;
    content: '';
    bottom: 10px;
    width: 20%;
    height: 2px;
    background-color: #fff;
}

.footer_contacts {
    display: flex;
    justify-content: space-between;
}

.footer_contacts_item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.footer_contacts_item img {
    margin-top: 5px;
}

.footer_contacts_item p {
    color: #9d9d9d;
}

.footer_license {
    text-align: center;
    color: #424242;
    padding: 15px;
}

.sample-slider .swiper-wrapper {
    transition-timing-function: linear;
}

.about-swiper {
    width: 70%;
}

.about_us_icon {
    width: 110px;
    height: 110px;
    margin: 0 !important;
}

.about-us-item {
    display: flex;
    flex-direction: column;
    width: 170px;
    align-items: center;
}

.about_icon_description {
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    font-family: Rubik;
    color: #c4c4c4;
}

.inDrag {
    cursor: grabbing !important;
}

.separator {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    justify-content: center;
}

.left_separator, .right_separator {
    width: 0;
    height: 1px;
    background-color: #f4a261;
    transition: width 3s;
    transition-timing-function: ease;
}

.separator img {
    width: 30px;
    height: 30px;
}

.achievement_background {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.3);
}

.achievement-block {
    display: flex;
    align-items: center;
    justify-content: center
}

.achievement-img {
    width: 200px;
    height: 200px;
    opacity: 0.8;
}

#products {
    background-image: url(../img/home-bg-img-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#achievement {
    width: 100%;
    background-image: url(../img/home-bg-img-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title-black-section {
    font-family: Pacifico;
    font-style: normal;
    text-align: center;
    color: #f4a261;
    text-shadow: 0 -1px 5px rgba(244, 162, 97, 0.6);
    font-size: 70px;
    font-weight: 400;
}

.title-image-section {
    font-family: Pacifico;
    font-style: normal;
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px 5px rgba(255, 255, 255, 0.6);
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 30px;
}

.carousel-main-page-div {
    width: 100%;
}

.carousel-indicators [data-bs-target] {
    border: none !important;
    height: 21px !important;
    width: 21px !important;
    background-color: #fff !important;
}

.carousel-indicators .active {
    background-color: #f4a261 !important;
    opacity: 0.7 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 60px !important;
    height: 60px !important;
    color: #f4a261 !important;
}





































