body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

p, span, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

a {
    text-decoration: none;
}

textarea, input {
    outline: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.header {
    height: 100px;
    border-bottom: 1px solid #3b3b3b;
    background: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.logo-container {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -37px;
    left: -50px;
}

.logo-separator {
    position: absolute;
    height: 65%;
    right: 205px;
    bottom: calc(105px - 90%);
    width: 1px;
    background: black;
}

.logo-company {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -50px;
    right: 16px;
}

.contacts-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contacts-header-multiple-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-header-item {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 10px;
}

.large-contact {
    width: 310px;
    align-items: flex-start;
}

.contacts-header-item img {
    width: 20px;
    height: 20px;
}

.contacts-header-item p {
    font-size: 20px;
}

.header-buttons {
    display: flex;
    gap: 30px;
    height: 50px;
}

.header-button {
    font-size: 20px;
    font-weight: 500;
    padding: 14px 18px;
    border-radius: 56px;
    color: #fff;
    background-color: #f4a261;
    cursor: pointer;
    transition: 0.3s;
}

.header-button:hover {
    color: #fff;
    background-color: #3b3b3b;
}

#contact-button {
    display: none;
}

.filter-settings {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.filter-buttons {
    display: flex;
    gap: 20px;
}

#filters {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.filter {
    width: 320px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    background: #afafaf;
    box-sizing: border-box;
    padding: 0 20px;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 7px #757575;
    transition: 0.3s;
}

.filter:hover {
    box-shadow: 1px 1px 7px #000
}

.active-filter {
    background: #f4a261 !important;
}

.filter img {
    width: 80px;
    height: 80px;
}

.filters-name {
    color: #fff;
    font-size: 30px;
}

#products-filtered-list {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background: #f4a261;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 7px #757575;
    transition: 0.3s;
    position: relative;
}

#products-filtered-list span {
    position: absolute;
    width: 70%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
    top: 40px;
    right: calc(80px - 85%);
}

#products-filtered-list.disable {
    background: #afafaf !important;
}

#products-filtered-list::before, #products-filtered-list::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
    top: 60px;
    right: calc(80px - 85%);
}

#products-filtered-list::after {
    top: 20px;
}

#products-filtered-list:hover {
    box-shadow: 1px 1px 7px #000
}

#products-filtered-list-dropdown {
    position: absolute;
    z-index: 999;
    height: 100vh;
    width: 700px;
    left: -1000px;
    background: #fff;
    transition: 0.3s left;
}

#products-filtered-list-dropdown.active {
    left: 0;
}

.close-dropdown-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
}

#dropdown-close {
    width: 70px;
    height: 70px;
    position: relative;
    right: 0;
    cursor: pointer;
}

#dropdown-close::before, #dropdown-close::after {
    content: '';
    height: 100%;
    width: 2px;
    background: black;

    left: 50%;
    position: absolute;
    transform: rotate(45deg);
}

#dropdown-close::before {
    top: 0;
}

#dropdown-close::after {
    transform: rotate(-45deg);
}

#dropdown-products {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-product-concentrator {
    height: 80px;
    display: flex;
    align-items: center;
}

.dropdown-product-container {
    width: 100%;
    padding: 0 50px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid #444444;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    user-select: none;
    transition: 0.3s;
    box-shadow: 3px 3px 15px #757575;
}

.dropdown-product-concentrator:hover .dropdown-product-container {
    padding: 40px 60px;
}

.dropdown-product-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.4;
    z-index: 1;
}


.dropdown-product-container h2 {
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

.dropdown-product-typeContainer {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    z-index: 2;
}

.dropdown-product-container h4 {
    font-size: 13px;
    color: #fff;
}

#search {
    border: 1px solid black;
    border-radius: 20px;
    width: 20%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    transition: 0.3s all;
    box-shadow: 1px 1px 7px #757575;
}

#search:hover {
    box-shadow: 1px 1px 7px #000;
}

.active-focus {
    box-shadow: 0 0 16px 3px #F4A261FF !important;
    border: 1px solid #ffb87e !important;
}

#search img {
    width: 50px;
    height: 50px;
}

#search-input {
    width: 100%;
    font-size: 30px;
    border: none;
}

#products {
    width: 90%;
    height: 73vh;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #7e7e7e;
    padding: 35px 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 7px #757575;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    overflow: hidden;
}

.product-wrapper {
    height: 500px;
    width: 525px;
    position: relative;
    border: 1px solid #525252;
    box-shadow: 3px 3px 15px #757575;
    transition: 0.2s all;
    background-color: #efefef;
}

.product-image {
    width: 100%;
    height: 240px;
    position: relative;
    box-shadow: 2px 2px 10px #757575;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
    cursor: pointer;
}

.product-image:hover {
    box-shadow: 1px 1px 7px #000;
    height: 255px;
}

.product-image::after {
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    top: 0;
    left: 0;
}

.product-wrapper, .product-image, .product-image::after {
    border-radius: 15px;
}

.product-wrapper h3 {
    width: 90%;
    font-size: 25px;
    color: #1c1c1c;
    margin: 0 auto;
    padding: 10px 0;
}

.product-wrapper p {
    text-align: left;
    font-size: 13px;
    line-height: 25px;
    font-weight: 500;
    color: #757575;
    width: 90%;
    margin: 0 auto;
}

.product-about-button {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    right: calc(50% - 250px);
    background: #f4a261;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s all;
}

.product-about-button:hover {
    background: #252525;
    color: white;
}

.product-modal-template {
    width: 900px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    z-index: -10;
    left: -1000px;
    position: fixed;
    overflow: hidden;
    background-color: #efefef;
}

.modal-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 1px 1px 7px #757575;
}

#contacts-dropdown {
    position: absolute;
    z-index: 999;
    height: 200px;
    width: 100vw;
    top: -1000px;
    background: #fff;
    transition: 0.3s top;
}

#contacts-dropdown.active {
    top: 0;
}

#dropdown-contact-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
}

#dropdown-contact-close::before, #dropdown-contact-close::after {
    content: '';
    height: 100%;
    width: 2px;
    background: black;

    left: 50%;
    position: absolute;
    transform: rotate(45deg);
}

#dropdown-contact-close::before {
    top: 0;
}

#dropdown-contact-close::after {
    transform: rotate(-45deg);
}

.contacts-dropdown-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
}

.contacts-dropdown-container img {
    width: 33px;
    height: 33px;
}

.contacts-dropdown, .contacts-dropdown-multiple {
    display: flex;
    gap: 10px;
}

.contacts-dropdown {
    align-items: center;
}

.contacts-dropdown-multiple {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 2120px) {

    .header {
        padding: 0 70px;
    }
}


@media (max-width: 1960px) {
    .contacts-header-item {
        width: 220px !important;

    }

    .contacts-header-item p {
        font-size: 16px;
    }

}


@media (max-width: 1700px) {

    .product-wrapper {
        width: 425px;
    }

    .product-about-button {
        width: 300px;
        right: calc(50% - 150px);
    }

    .header {
        padding: 0 150px;
    }

    .contacts-header {
        display: none;
    }

    #contact-button {
        display: block;
    }
}


@media (max-width: 1400px) {

    .product-wrapper {
        width: 325px;
    }

    .product-about-button {
        width: 200px;
        right: calc(50% - 100px);
    }
}

@media (max-width: 1300px) {

    .contacts-dropdown-container {
        font-size: 15px;
    }

    .contacts-dropdown-container img {
        width: 33px;
        height: 33px;
    }
}

@media (max-width: 970px) {

    .contacts-dropdown-container {
        font-size: 12px;
    }

    .contacts-dropdown-container img {
        width: 28px;
        height: 28px;
    }


    .contacts-dropdown-multiple {
        gap: 5px;
    }

}

@media (max-width: 800px) {
    #contacts-dropdown {
        height: 300px;
    }

    .contacts-dropdown-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .contacts-dropdown-container {
        font-size: 20px;
    }

    .contacts-dropdown-container img {
        width: 33px;
        height: 33px;
    }


    .contacts-dropdown-multiple {
        gap: 15px;
    }

}

@media (max-width: 600px) {

    .contacts-dropdown-container {
        font-size: 15px;
    }

    .contacts-dropdown-container img {
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 470px) {
    #contacts-dropdown {
        height: 500px;
    }

    .contacts-dropdown-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

}

.title-black-section {
    font-family: Pacifico;
    font-style: normal;
    text-align: center;
    color: #f4a261;
    text-shadow: 0 -1px 5px rgba(244, 162, 97, 0.6);
    font-size: 70px;
    font-weight: 400;
}

.separator {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    justify-content: center;
}

.left_separator, .right_separator {
    width: 100%;
    height: 1px;
    background-color: #2d2d2d;
    transition: width 3s;
    transition-timing-function: ease;
}

.separator img {
    width: 30px;
    height: 30px;
}

.body-block-catalog-sect {
    margin-right: 95px;
    margin-left: 95px;
    margin-top: 58px;
    margin-bottom: 58px;
}

.body-block-catalog-sect-1 {
    margin-bottom: 58px;
}

.modal-name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    text-shadow: 1px 1px 2px #757575;
}

.modal-about {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    margin-bottom: 15px;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.product-modal-template {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-description-2 {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.modal-description-strip-1 {
    width: 90%;
    height: 1px;
    background: #525252;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px #757575;
}

.modal-description-2-h4 {
    text-shadow: 1px 1px 2px #757575;
    font-size: 20px;
    margin-bottom: 10px;
}

.benefits {
    text-align: center;
}

.benefits li {
    text-align: center;
    display: inline-block;
    margin: 10px;
    text-shadow: 1px 1px 1px #757575;
    font-size: 20px;
}

.is-available.positive{
    width: 150px;
    height: 35px;
    margin-left: 730px;
    margin-top: -4px;
    box-shadow: 2px 2px 10px #757575;
    position: absolute;
    background: url(img/positive.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
}

.is-available.positive::after {
    content: 'В наявності';
    font-family: Rubik;
    position: absolute;
    margin-top: -31px;
    margin-left: 44px;
}

.is-available.negative::after {
    content: 'У відсутності';
    font-family: Rubik;
    position: absolute;
    margin-top: -31px;
    margin-left: 40px;
}

.is-available.negative{
    width: 150px;
    height: 35px;
    margin-left: 730px;
    margin-top: -4px;
    box-shadow: 2px 2px 10px #757575;
    position: absolute;
    background: url(img/negative.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
}

.is-available-text-1 {
    display: inline-block;
    width: 37px;
    height: 100%;
    position: absolute;
}

.is-available-text-2 {
    display: inline-block;
    margin-left: 35px;
    background: #efefef;
    height: 27px;
    width: 104px;
    padding-top: 8px;
    padding-left: 11px;
    font-family: Rubik;
}

@media (max-width: 2560px) {
    .product-wrapper {
        width: calc(105% - 110px);
    }

    .product-about-button {
        width: calc(88% - 110px);
        right: 85px;

    }
}


@media (max-width: 1800px) {
    .product-about-button {
        right: 80px;
    }

    .product-wrapper p {
        overflow-y: scroll;
        height: 130px;
    }

    .product-wrapper {
        width: calc(115% - 110px);
    }
}

@media (max-width: 1583px) {
    .filter {
        width: 220px;
        height: 60px;
    }

    .filter img {
        width: 60px;
        height: 60px;
    }

    .filters-name {
        font-size: 20px;
    }

    .filter-settings {
        height: ;
    }

    #products-filtered-list {
        height: 60px;
        width: 60px;
    }

    #products-filtered-list::before, #products-filtered-list::after {
        width: 32px;
        right: 14px;
    }

    #products-filtered-list::before {
        top: 20px;
    }

    #products-filtered-list::after {
        top: 30px;
    }

    #products-filtered-list span {
        width: 54%;
        right: 13.5px;
        top: 40px;

    }
}

@media (max-width: 1145px) {
    .filter {
        width: 180px;
        height: 60px;
    }

    .filter img {
        width: 40px;
        height: 40px;
    }

    .filters-name {
        font-size: 17px;
    }

    .product-about-button {
        font-size: 15px;
        height: 40px;
    }

    .product-wrapper {
        width: calc(125% - 110px);
    }

    .header-button {
    font-size: 15px;
    padding: 10px 14px;
    }

    .header-buttons {
    height: 35px;
    }

    .product-modal-template {
        width: 800px;
    }

    .is-available.positive, .is-available.negative {
        margin-left: 630px;
    }

}

@media (max-width: 992px) {
    .logo-company, .logo-separator {
        display: none;
    }
}

@media (max-width: 975px) {
    .filter {
        width: 140px;
        height: 40px;
        padding: 0 10px;
    }

    .product-image:hover {
        height: 160px;
    }

    #search {

    }

    #search img {
        width: 25px;
        height: 25px;
    }

    #search-input {
        font-size: 15px;
    }

    .filter img {
        width: 30px;
        height: 30px;
    }

    .filters-name {
        font-size: 13px;
    }

    .filter-settings {
        height: 90px;
    }

    #products-filtered-list {
        height: 40px;
        width: 40px;
        border-radius: 12px;
    }

    #products-filtered-list::before, #products-filtered-list::after {
        width: 22px;
        right: 9px;
    }

    #products-filtered-list::before {
        top: 9px;
    }

    #products-filtered-list::after {
        top: 19px;
    }

    #products-filtered-list span {
        width: 54%;
        right: 9px;
        top: 29px;

    }

    .product-image {
        height: 160px;
    }

    .product-wrapper {
        height: 400px;
    }

    .product-modal-template {
        width: 700px;
    }

    .is-available.positive, .is-available.negative {
        margin-left: 530px;
    }
}

@media (max-width: 795px) {
    .logo {
        display: none;
    }

    .logo-container {
        display: none;
    }

    .header {
        padding: 0 60px;
    }

    .product-image {
        height: 140px;
    }

    .product-wrapper {
        height: 350px;
    }

    .product-wrapper h3 {
        font-size: 17px;
    }

    .product-wrapper p {
        font-size: 10px;
        line-height: 15px;
        height: 100px;
    }

    .product-about-button {
        height: 30px;
        width: 90px;
        font-size: 10px;
        right: 50px;
    }
}

@media (max-width: 764px) {
    .filter {
        width: 100px;
        height: 30px;
        padding: 0 10px;
    }

    .product-wrapper {
        width: calc(137% - 110px);
    }

    #search img {
        width: 17px;
        height: 17px;
    }

    #search-input {
        font-size: 10px;
    }

    .filter img {
        width: 20px;
        height: 20px;
    }

    .filters-name {
        font-size: 9px;
    }

    .filter-settings {
        height: 70px;
    }

    #products-filtered-list {
        height: 30px;
        width: 30px;
        border-radius: 9px;
    }

    #products-filtered-list::before, #products-filtered-list::after {
        width: 16px;
        right: 7px;
    }

    #products-filtered-list::before {
        top: 7px;
        height: 2px;
    }

    #products-filtered-list::after {
        top: 15px;
        height: 2px;
    }

    #products-filtered-list span {
        width: 54%;
        right: 7px;
        top: 23px;
        height: 2px;

    }

    .product-modal-template {
        width: 600px;
    }

    .is-available.positive, .is-available.negative {
        margin-left: 430px;
    }
}

@media (max-width: 734px) {
    .product-image {
        height: 100px;
    }

    .product-wrapper h3 {
        font-size: 14px;
    }

    .product-wrapper p {
        font-size: 8px;
    }

    .product-wrapper {
        height: 280px;
    }

    .product-about-button {
        height: 25px;
        width: 110px;
        right: calc(120% - 177px);
    }
}

@media (max-width: 686px) {
    .product-wrapper p {
        height: 60px;
        font-size: 6px;
        line-height: 10px;
    }

    .product-wrapper {
        height: 240px;
    }

    .product-wrapper h3 {
        font-size: 11px;
    }

    .product-about-button {
        height: 20px;
        font-size: 8px;
        width: 110px;
        right: calc(115% - 150px);
    }

    #products-filtered-list-dropdown {
        width: 600px;
    }
}

@media (max-width: 626px) {
    .product-about-button {
        width: 80px;
        right: calc(115% - 110px);
    }

    .product-modal-template {
        width: 500px;
    }

    .is-available.positive, .is-available.negative {
        margin-left: 330px;
    }
}

@media (max-width: 594px) {

    .filter-settings {
        display: table;
        margin-top: 20px;
    }

    .dropdown-product-concentrator:hover .dropdown-product-container:hover {
        padding: 0 50px;
    }

    .filter {
        width: 33%;
    }

    .filters-name {
        font-size: 13px;
    }

    #search {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 95%;
    }

    #filters {
        width: 90%;
    }

    #products {
        display: table;
    }

    .product-wrapper {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        height: 280px;
    }

    .product-about-button {
        margin-left: auto;
        margin-right: 115px;
        right: 0;
        top: 240px;
        font-size: 12px;
        height: 30px;
        width: 120px;
    }

    .product-wrapper h3 {
        font-size: 17px;
    }

    .product-wrapper p {
        font-size: 12px;
        line-height: 16px;
    }

    .product-image {
        height: 130px;
    }

    #products-filtered-list-dropdown {
        width: 400px;
    }

    .dropdown-product-container h2 {
        font-size: 10px;
    }

    .dropdown-product-container {
        height: 40px;
    }

    #dropdown-close {
        width: 40px;
        height: 40px;
    }

    .dropdown-product-concentrator {
        height: 50px;
    }

    .product-modal-template {
        width: 400px;
    }

    .is-available.positive, .is-available.negative {
        margin-left: 230px;
        margin-top: -205px;
    }
}

@media (max-width: 425px) {
    .filter {
        width: 33%;
    }

    .filters-name {
        font-size: 10px;
    }

    .filter-settings {
        width: 80%;
    }

    #filters {
        width: 80%;
    }

    .product-wrapper {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        height: 280px;
    }

    .product-about-button {
        margin-right: 88px;
    }

    .product-wrapper h3 {
        font-size: 17px;
    }

    .product-wrapper p {
        font-size: 12px;
        line-height: 16px;
    }

    .product-image {
        height: 130px;
    }

    .header {
        padding: 0 20px;
    }

    .header-buttons {
        gap: 30px;
    }

    #products-filtered-list-dropdown {
        width: 300px;
    }

    .dropdown-product-container h2 {
        font-size: 8px;
    }

    .dropdown-product-container {
        height: 30px;
        padding: 0 25px;
    }

    #dropdown-close {
        width: 30px;
        height: 30px;
    }

    .dropdown-product-concentrator {
        height: 50px;
    }

    .dropdown-product-container h4 {
        font-size: 8px;
    }

    .dropdown-product-typeContainer {
        padding-left: 60px;
    }

    .product-modal-template {
        width: 250px;
    }

    .is-available.positive, .is-available.negative {
        margin-left: 52px;
        margin-top: -135px;
    }

    .modal-image {
        height: 130px;
    }

    .modal-name, .modal-description-2-h4 {
        font-size: 15px;
    }

    .modal-description, .modal-description-2-2, .field-of-application {
        font-size: 10px;
    }

    .benefits {
        margin-left: -35px;
    }

    .benefits li {
        font-size: 15px;
    }
}


@media (max-width: 375px) {
    #filters {
        gap: 10px;
    }

    .filter {
        padding: 0 5px;
    }

    .filters-name {
        display: none;
    }

    .filter img {
        width: 25px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .product-wrapper {
        width: 270px;
    }

    .product-about-button {
        margin-right: 75px;
    }

}

@media (max-width: 345px) {
    .header-buttons {
        gap: 10px;
    }
}

@media (max-width: 320px) {
    .product-wrapper {
        width: 250px;
    }

    .product-about-button {
        margin-right: 65px;
    }
}




































