body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

p, span {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

a {
    text-decoration: none;
}

textarea, input { outline: none; }

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.header {
    height: 100px;
    border-bottom: 1px solid #3b3b3b;
    background: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.logo-container {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -37px;
    left: -50px;
}

.logo-separator {
    position: absolute;
    height: 65%;
    right: 205px;
    bottom: calc(105px - 90%);
    width: 1px;
    background: black;
}

.logo-company {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -50px;
    right: 16px;
}

.company-header {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
}

.contacts-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contacts-header-item {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 10px;
}

.contacts-header-multiple-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-header-item img {
    width: 20px;
    height: 20px;
}

.contacts-header-item p {
    font-size: 20px;
}

.large-contact {
    width: 310px;
    align-items: flex-start;
}

.header-buttons {
    display: flex;
    gap: 30px;
    height: 50px;
}

.header-button {
    font-size: 20px;
    font-weight: 500;
    padding: 14px 18px;
    border-radius: 56px;
    color: #fff;
    background-color: #f4a261;
    cursor: pointer;
    transition: 0.3s;
}

.header-button:hover {
    color: #fff;
    background-color: #3b3b3b;
}

.body-block-news {
    margin: 30px 150px;
}

.body-block-news-sect-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #efefef;
    border-radius: 15px;
    width: 100%;
    height: 400px;
    display: inline-block;
    float: left;
    box-shadow: 3px 3px 15px #757575;
    transition: 0.2s;
}

.body-block-news-sect-2:hover {
    box-shadow: 3px 3px 15px #000;
}

.body-block-news-sect-2-b1 {
    width: 380px;
    height: 380px;
    border-radius: 20px;
    margin-right: 30px;
    float: left;
    border: solid 1px #525252;
    background: url("./img/sausage.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    box-shadow: 2px 2px 15px #757575;
    transition: 0.1s;
}

.body-block-news-sect-2-b1:hover {
    box-shadow: 2px 2px 15px #000;
}

.body-block-news-sect-2-b1-2:hover {
    box-shadow: 2px 2px 15px #000;
}

.body-block-news-sect-2-b1-2 {
    width: 380px;
    height: 380px;
    border-radius: 20px;
    margin-right: 20px;
    float: right;
    border: solid 1px #525252;
    background: url("./img/chocolate.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    box-shadow: 2px 2px 15px #757575;
    transition: 0.1s;
}

.body-block-news-sect-2-b2 {
    width: 67%;
    height: 360px;
    float: left;
    border-left: solid 1px #525252;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.body-block-news-sect-2-b2-2 {
    width: 65%;
    height: 360px;
    float: left;
    text-align: right;
    border-right: solid 1px #525252;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
}

.body-block-news-sect-2-b2-h4 {
    color: #1c1c1c;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.body-block-news-sect-2-b2-p {
    color: #757575;
    font-size: 25px;
}

.body-block-news-sect-2-b2-b3-2 {
    float: right;
}

.news-about-button {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    background: #f4a261;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s all;
    margin-top: 45px;
    float: left;
}

.news-about-button:hover {
    background: #252525;
    color: white;
}

.news-about-button-2 {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    background: #f4a261; 
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s all;
    margin-top: 45px;
    float: left;
    margin-left: 15px;
}

.news-about-button-2:hover {
    background: #252525;
    color: white;
}

.separator {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    justify-content: center;
}

.left_separator, .right_separator {
    width: 100% !important;
    height: 1px;
    background-color: #2d2d2d;
}

.separator img {
    width: 30px;
    height: 30px;
}

#contact-button {
    display: none;
}

#contacts-dropdown {
    position: absolute;
    z-index: 999;
    height: 200px;
    width: 100vw;
    top: -1000px;
    background: #fff;
    transition: 0.3s top;
}

#contacts-dropdown.active {
    top: 0;
}

#dropdown-contact-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
}

#dropdown-contact-close::before, #dropdown-contact-close::after {
    content: '';
    height: 100%;
    width: 2px;
    background: black;

    left: 50%;
    position: absolute;
    transform: rotate(45deg);
}

#dropdown-contact-close::before {
    top: 0;
}

#dropdown-contact-close::after {
    transform: rotate(-45deg);
}

.contacts-dropdown-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
}

.contacts-dropdown-container img {
    width: 33px;
    height: 33px;
}

.contacts-dropdown, .contacts-dropdown-multiple {
    display: flex;
    gap: 10px;
}

.contacts-dropdown {
    align-items: center;
}

.contacts-dropdown-multiple {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 2120px) {

    .header {
        padding: 0 70px;
    }
}


@media (max-width: 1960px) {
    .contacts-header-item {
        width: 220px !important;

    }

    .contacts-header-item p {
        font-size: 16px;
    }

}

@media (max-width: 1700px) {

    .header {
        padding: 0 150px;
    }

    .contacts-header {
        display: none;
    }

    #contact-button {
        display: block;
    }
}

@media (max-width: 1300px) {

    .contacts-dropdown-container {
        font-size: 15px;
    }

    .contacts-dropdown-container img {
        width: 33px;
        height: 33px;
    }
}

@media (max-width: 970px) {

    .contacts-dropdown-container {
        font-size: 12px;
    }

    .contacts-dropdown-container img {
        width: 28px;
        height: 28px;
    }


    .contacts-dropdown-multiple {
        gap: 5px;
    }

}

@media (max-width: 800px) {
    #contacts-dropdown {
        height: 500px;
    }

    .contacts-dropdown-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .contacts-dropdown-container {
        font-size: 20px;
    }

    .contacts-dropdown-container img {
        width: 33px;
        height: 33px;
    }


    .contacts-dropdown-multiple {
        gap: 15px;
    }

}

@media (max-width: 600px) {

    .contacts-dropdown-container {
        font-size: 15px;
    }

    .contacts-dropdown-container img {
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 470px) {
    #contacts-dropdown {
        height: 700px;
    }

    .contacts-dropdown-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

}

.title-black-section {
    font-family: Pacifico;
    font-style: normal;
    text-align: center;
    color: #f4a261;
    text-shadow: 0 -1px 5px rgba(244, 162, 97, 0.6);
    font-size: 70px;
    font-weight: 400;
}


@media (max-width: 2560px) {
    .body-block-news-sect-2-b2-2 {
        width: calc(99% - 450px);
    }
}

@media (max-width: 1658px) {
    .body-block-news-sect-2-b2 {
        width: 57%;
    }

    .body-block-news-sect-2-b2-2 {
        width: calc(99% - 450px);
}

    .news-about-button, .news-about-button-2 {
        margin-top: 15px;
    }

    .body-block-news-sect-2-b2-p {
        font-size: 23px;
    }
}

@media (max-width: 1472px) {
    .body-block-news-sect-2-b2-p {
        font-size: 20px;
    }

    .news-about-button, .news-about-button-2 {
        margin-top: 45px;
    }

}

@media (max-width: 1379px) {
    .body-block-news-sect-2 {
        height: 300px;
    }

    .body-block-news-sect-2-b1, .body-block-news-sect-2-b1-2 {
        width: 280px;
        height: 280px;
    }

    .body-block-news-sect-2-b2-2 {
        width: calc(98% - 345px);
}

    .body-block-news-sect-2-b2-h4 {
        font-size: 25px;
    }

    .body-block-news-sect-2-b2-p {
        font-size: 17px;
        overflow-y: scroll;
        height: 140px;
    }

    .body-block-news-sect-2-b2, .body-block-news-sect-2-b2-2 {
        height: 260px;
    }

    .news-about-button, .news-about-button-2 {
        margin-top: 25px;
        width: 200px;
    }
}

@media (max-width: 1110px) {
    .body-block-news-sect-2 {
        height: 200px;
    }

    .body-block-news-sect-2-b1, .body-block-news-sect-2-b1-2 {
        width: 180px;
        height: 180px;
    }

    .body-block-news-sect-2-b2-h4 {
        font-size: 20px;
    }

    .body-block-news-sect-2-b2-p {
        font-size: 14px;
        overflow-y: scroll;
        height: 90px;
    }

    .body-block-news-sect-2-b2, .body-block-news-sect-2-b2-2 {
        height: 163px;
        width: 60%;
    }

    .body-block-news-sect-2-b2-2 {
        width: calc(102% - 280px);
}

    .news-about-button, .news-about-button-2 {
        margin-top: 15px;
        width: 200px;
        height: 30px;
        font-size: 15px;
    }

    .title-black-section {
        font-size: 50px;
    }

    .header-button {
        font-size: 15px;
        padding: 10px 14px;
    }

    .header-buttons {
        height: 35px;
    }


}

@media (max-width: 992px) {
    .body-block-news-sect-2 {
        height: 150px;
    }

    .body-block-news-sect-2-b1, .body-block-news-sect-2-b1-2 {
        width: 130px;
        height: 130px;
    }

    .body-block-news-sect-2-b2-h4 {
        font-size: 16px;
    }

    .body-block-news-sect-2-b2-p {
        font-size: 11px;
        overflow-y: scroll;
        height: 62px;
    }

    .body-block-news-sect-2-b2, .body-block-news-sect-2-b2-2 {
        height: 113px;
        width: 60%;
    }

    .body-block-news-sect-2-b2-2 {
        width: calc(99% - 210px);
}

    .news-about-button, .news-about-button-2 {
        margin-top: 12px;
        width: 150px;
        height: 20px;
        font-size: 12px;
    }

    .title-black-section {
        font-size: 40px;
    }

    .logo-company, .logo-separator {
        display: none;
    }
}

@media (max-width: 845px) {
    .body-block-news-sect-2-b1-2 {
        width: 120px;
    }
}

@media (max-width: 825px) {

    .body-block-news-sect-2-b2-b3-2 {
        float: none;
    }

    .body-block-news-sect-2 {
        height: 400px;
    }

    .body-block-news-sect-2-b1, .body-block-news-sect-2-b1-2 {
        width: 95%;
        height: 180px;
    }

    .body-block-news-sect-2-b1-2 {
        margin-top: 135px;
        height: 165px;
    }

    .body-block-news-sect-2-b2-h4 {
        font-size: 25px;
    }

    .body-block-news-sect-2-b2-p {
        font-size: 17px;
        overflow-y: scroll;
        height: 100px;
    }

    .body-block-news-sect-2-b2, .body-block-news-sect-2-b2-2 {
        height: 60px;
        border-left: none;
        border-right: none;
        width: 90%;
    }

    .news-about-button, .news-about-button-2 {
        margin-top: 12px;
        width: 40%;
        height: 35px;
        font-size: 15px;
    }
}

@media (max-width: 723px) {
    .logo {
        display: none;
    }

    .logo-container {
        display: none;
    }

    .header {
        padding: 0 60px;
    }
}

@media (max-width: 690px) {
    .body-block-news-sect-2-b2-h4 {
        font-size: 20px;
    }

    .body-block-news-sect-2-b2-p {
        font-size: 15px;
    }

    .news-about-button, .news-about-button-2 {
        font-size: 12px;
    }

    .title-black-section {
        font-size: 30px;
    }

    .body-block-news-sect-2-b2, .body-block-news-sect-2-b2-2 {
        padding-left: 7px;
    }
}



@media (max-width: 612px) {
    .body-block-news-sect-2-b2-h4 {
        font-size: 14px;
    }

    .news-about-button, .news-about-button-2 {
        font-size: 14px;
    }

    .body-block-news-sect-2-b1 {
        width: 93%;
    }

    .body-block-news-sect-2 {
        height: 450px;
        width: 100%;
    }

    .body-block-news-sect-2-b2-p {
        height: 150px;
    }

    .news-about-button {
        width: 50%;
    }

    .body-block-news {
        margin: 30px 70px;
    }

    .body-block-news-sect-2-b1-2 {
        margin-top: 180px;
    }

}


@media (max-width: 426px) {
    .header {
        padding: 0 20px;
    }

    .body-block-news-sect-2-b1-2 {
        margin-top: 180px;
    }

    .body-block-news {
        margin-left: 60px;
        margin-right: 75px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .separator {
        margin-left: 10px;
    }

    .header-buttons {
        gap: 30px;
    }
}

@media (max-width: 386px) {
    .title-black-section {
        font-size: 25px;
    }

    .body-block-news-sect-2 {
        margin-top: 0;
    }

    .news-about-button, .news-about-button-2 {
        font-size: 10px;
        height: 30px;
    }

    .body-block-news-sect-2-b1-2 {
        float: none;
        margin-left: -5px;
        margin-top: 260px
    }

    .header-buttons {
        gap: 30px;
    }

}

@media (max-width: 345px) {
    .title-black-section {
        font-size: 22px;
        margin-left: 16px;
    }

    .body-block-news-sect-2-b1 {
        width: 88%;
    }

    .body-block-news-sect-2-b2-p {
        font-size: 12px;
    }

    .body-block-news-sect-2-b2-h4 {
        font-size: 12px;
    }

    .body-block-news-sect-2-b1-2 {
        width: 94%;
    }

    .header-buttons {
        gap: 10px;
    }
}










































