body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

p, span {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

a {
    text-decoration: none;
}

textarea, input { outline: none; }

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.header {
    height: 100px;
    border-bottom: 1px solid #3b3b3b;
    background: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.logo-container {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.logo {
    width: 250px;
    height: 260px;
    position: absolute;
    top: -63px;
    left: -80px;
}

.logo-separator {
    position: absolute;
    height: 80%;
    right: 205px;
    bottom: calc(100px - 90%);
    width: 1px;
    background: black;
}

.logo-company {
    width: 250px;
    height: 260px;
    position: absolute;
    top: -80px;
    right: -25px;
}

.company-header {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
}

.contacts-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contacts-header-item {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 10px;
}

.contacts-header-multiple-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-header-item img {
    width: 20px;
    height: 20px;
}

.contacts-header-item p {
    font-size: 20px;
}

.large-contact {
    width: 310px;
    align-items: flex-start;
}

.header-buttons {
    display: flex;
    gap: 30px;
    height: 50px;
}

.header-button {
    font-size: 20px;
    font-weight: 500;
    padding: 14px 18px;
    border-radius: 56px;
    color: #fff;
    background-color: #f4a261;
    cursor: pointer;
    transition: 0.3s;
}

.header-button:hover {
    color: #fff;
    background-color: #3b3b3b;
}

.body-block-news {
    margin: 30px 150px;
}

.body-block-news-sect-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #efefef;
    border-radius: 15px;
    width: 100%;
    height: 400px;
    display: inline-block;
    float: left;
    box-shadow: 3px 3px 15px #757575;
    transition: 0.2s;
}

.body-block-news-sect-2:hover {
    box-shadow: 3px 3px 15px #000;
}

.body-block-news-sect-2-b1 {
    width: 380px;
    height: 380px;
    border-radius: 20px;
    margin-right: 30px;
    float: left;
    border: solid 1px #525252;
    background: url("./img/sausage.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    box-shadow: 2px 2px 15px #757575;
    transition: 0.1s;
}

.body-block-news-sect-2-b1:hover {
    box-shadow: 2px 2px 15px #000;
}

.body-block-news-sect-2-b1-2:hover {
    box-shadow: 2px 2px 15px #000;
}

.body-block-news-sect-2-b1-2 {
    width: 380px;
    height: 380px;
    border-radius: 20px;
    margin-left: 30px;
    float: left;
    border: solid 1px #525252;
    background: url("./img/chocolate.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    box-shadow: 2px 2px 15px #757575;
    transition: 0.1s;
}

.body-block-news-sect-2-b2 {
    width: 67%;
    height: 360px;
    float: left;
    border-left: solid 1px #525252;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.body-block-news-sect-2-b2-2 {
    width: 65%;
    height: 360px;
    float: left;
    text-align: right;
    border-right: solid 1px #525252;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
}

.body-block-news-sect-2-b2-h4 {
    color: #1c1c1c;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.body-block-news-sect-2-b2-p {
    color: #757575;
    font-size: 25px;
}

.body-block-news-sect-2-b2-b3-2 {
    float: right;
}

.news-about-button {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    background: #f4a261;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s all;
    margin-top: 45px;
    float: left;
}

.news-about-button:hover {
    background: #252525;
    color: white;
}

.news-about-button-2 {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    background: #f4a261; 
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s all;
    margin-top: 45px;
    float: left;
    margin-left: 15px;
}

.news-about-button-2:hover {
    background: #252525;
    color: white;
}

.separator {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    justify-content: center;
}

.left_separator, .right_separator {
    width: 100% !important;
    height: 1px;
    background-color: #2d2d2d;
}

.separator img {
    width: 30px;
    height: 30px;
}

#contact-button {
    display: none;
}

#contacts-dropdown {
    position: absolute;
    z-index: 999;
    height: 300px;
    width: 100vw;
    top: -1000px;
    background: #fff;
    transition: 0.3s top;
}

#contacts-dropdown.active {
    top: 0;
}

#dropdown-contact-close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
}

#dropdown-contact-close::before, #dropdown-contact-close::after {
    content: '';
    height: 100%;
    width: 2px;
    background: black;

    left: 50%;
    position: absolute;
    transform: rotate(45deg);
}

#dropdown-contact-close::before {
    top: 0;
}

#dropdown-contact-close::after {
    transform: rotate(-45deg);
}

.contacts-dropdown-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.contacts-dropdown-container img {
    width: 33px;
    height: 33px;
}

.contacts-dropdown, .contacts-dropdown-multiple {
    display: flex;
    gap: 10px;
}

.contacts-dropdown {
    align-items: center;
}

.contacts-dropdown-multiple {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 2120px) {

    .header {
        padding: 0 70px;
    }
}


@media (max-width: 1960px) {
    .contacts-header-item {
        width: 220px !important;

    }

    .contacts-header-item p {
        font-size: 16px;
    }

}

@media (max-width: 1700px) {

    .header {
        padding: 0 150px;
    }

    .contacts-header {
        display: none;
    }

    #contact-button {
        display: block;
    }
}

@media (max-width: 1300px) {

    .contacts-dropdown-container {
        font-size: 15px;
    }

    .contacts-dropdown-container img {
        width: 33px;
        height: 33px;
    }
}

@media (max-width: 970px) {

    .contacts-dropdown-container {
        font-size: 12px;
    }

    .contacts-dropdown-container img {
        width: 28px;
        height: 28px;
    }


    .contacts-dropdown-multiple {
        gap: 5px;
    }

}

@media (max-width: 800px) {
    #contacts-dropdown {
        height: 500px;
    }

    .contacts-dropdown-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .contacts-dropdown-container {
        font-size: 20px;
    }

    .contacts-dropdown-container img {
        width: 33px;
        height: 33px;
    }


    .contacts-dropdown-multiple {
        gap: 15px;
    }

}

@media (max-width: 600px) {

    .contacts-dropdown-container {
        font-size: 15px;
    }

    .contacts-dropdown-container img {
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 470px) {
    #contacts-dropdown {
        height: 700px;
    }

    .contacts-dropdown-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

}










































